@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: url(resume-back.png);
}


.resume{
    width: 620px;
    height: 500;
	background: rgb(255, 255, 255);
	margin: 300px;
	display: flex;
}

.left{
	background: #292b2f;
	width: 270px;
	padding: 0 10px;
}


.right{
	width: calc(100% - 250px);
}

.left .img_holder{
	text-align: center;
	padding: 10px 0;
}

.left .img_holder img{
	width: 170px;
	border-radius: 10px;
}

.pb{
	padding-bottom: 10px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	/* text-transform: uppercase; */
	letter-spacing: 2px;
	padding-bottom: 10px;
	color: #000000;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #000000;
}

.left .icon{
	font-size: 20px;
	color: #000000;
}

.left .text{
	color: #000000;
	font-size: 14px;
}

.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.contact .li_wrap .icon{
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: rgb(255, 255, 255);
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* for skill section box */
.skills .li_wrap,
.hobbies .li_wrap{
	width: 90px;
	height: 90px;
	margin-bottom: 15px;
	border-radius: 15px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.skills .li_wrap{
	background: rgb(255, 255, 255);
}



.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 5px;
}

.hobbies .li_wrap{
	background: rgba(255, 255, 255);
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: rgb(0, 0, 0);
}

/* .hobbies .li_wrap:hover{
	background: #fff;
} */

/* .hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: #000000;
} */

.header{
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .name{
	font-size: 52px;
	/* text-transform: uppercase; */
	font-weight: 700;
	color: #ffffff;
}

.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.right_inner{
	padding: 30px;
	color: #1b1b1b;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #000000;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	
	font-weight: 700;
	letter-spacing: 0px;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 15px;
	margin-top: 6px;
}

.right_inner .li_wrap .info_cont{
    margin-top: 10px;
	font-size: 19px;
    
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #000000;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #000000;
}

@media screen and (max-width: 1000px){
	.resume{
		width: 800px;
		height: 500;
		background: rgb(255, 255, 255);
		margin: 105px;
		display: flex;
	}
	/* this is for heading like (education, certificate, skill etc.) */
	.title{
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 5px; 
		padding-bottom: 10px;
		color: #000000;
		position: relative;
		text-align: right;
		margin-bottom: 15px;
	}
	/* this is for heading under line of(education, certificate, skill etc.) */
	.title:before{
		content: "";
		position: absolute;
		top: 42px;
		right: 0;
		width: 60px;
		height: 3px;
		background: #000000;
	}
	/* left side control */
	.left{
		background: #292b2f;
		width: 380px;
		padding: 0 20px;
	}

	/* icon of skill, hobbise, contact(python, house html)  */
	.left .icon{
		font-size: 34px;
		color: #000000;
	}
	/* icon name control */
	.left .text{
		color: #000000;
		font-size: 25px;
		text-align: center;
		
	}
	/* control of contact  */
	.contact .li_wrap .icon{
		width: 60px;
		height: 60px;
		background: rgb(255, 255, 255);
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
	
	.contact .li_wrap .text{
		width: calc(100% -80px);
		word-break: break-word;
		font-weight: bold;
		color: rgb(255, 255, 255);
	}
	.right_inner .li_wrap .date {
		width: 125px;
		color: #000000;
		font-size: 28px;
	}

/* skill box size control  */
.skills .li_wrap,
.hobbies .li_wrap{
	width: 110px;
	height: 112px;
	margin-bottom: 20px;
	margin: 12px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap{
	background: rgb(255, 255, 255);
}
/* for skill name up-down */
.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 15px;
}

/* hobbies portion start from here */
.hobbies .li_wrap{
	background: rgba(255, 255, 255);
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: rgb(0, 0, 0);
}



/* right side contant start */
.header{
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 280px;
}
/* for ABHAYSAINI word control */
.header .name{
	font-size: 58px;
	font-weight: 700;
	color: #ffffff;
}

.header .role{
	font-weight: 300;
	font-size: 28px;
}

.header .about{
	margin-top: 20px;
	/* line-height: 26px; */
	font-size: 25px;
	margin-top:10px;
}

.right_inner{
	padding: 30px;
	margin-bottom: auto;
	color: #1d1c1c;
	font-size: 26px;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #000000;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	/* text-transform: uppercase; */
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2px;
	color: #000000;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 15px;
	margin-top: 6px;
}

.right_inner .li_wrap .info_cont{
    margin-top: 6px;
    
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #000000;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #000000;
}


}
